.imbg{
   
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
   
}
.img{
    
    height: 9rem;
    width: 7.9rem;
    border-radius: 5rem;
    border-color: blue;
    border-width: 20px;
    padding: 2rem;
    padding-left: 4rem;
   
}