.contact {
  width: 100%;
  height: auto; /* Adjust height to fit content */
  background-color: green;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  padding: 2rem; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.heading {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.separator {
  width: 50%;
  height: 2px;
  background-color: white;
  margin-bottom: 2rem;
}

.contact-details {
  display: flex;
  flex-direction: column; /* Stack contact items vertically */
  align-items: flex-start;
}

.contact-item {
  margin-bottom: 2rem;
}

.contact-label {
  font-weight: bold;
  color: white;
  margin: 0;
}

.contact-info {
  color: lightgray;
  margin: 0;
}

/* Media Query for Mobile Phones */
@media (max-width: 767px) {
  .contact {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .heading {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .separator {
    width: 60%;
  }

  .contact-details {
    align-items: center; /* Center items on mobile screens */
  }

  .contact-info {
    font-size: 1.7rem; /* Adjust font size for smaller screens */
  }
}
