.contact {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
}
.heading {
  color: white;
  /* margin-left: 230px; */
  margin-left: 90px;
  margin-bottom: -20px;
}
.main{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  margin-left: 15px;
}
.seperation {
  height: 1px;
  width: 80%;
  background: white;
  /* align-self: center; */
  margin: 18px;
}
.phone {
  flex-direction: row;
  display: flex;
  gap: 12px;
}
.phoneheading {
}
.phonename {
}
.email {
  flex-direction: row;
  display: flex;
  gap: 12px;
}
.emailheading {
}
.emailname {
}
.address {
  flex-direction: row;
  display: flex;
  gap: 12px;
}
.addressheading {
}
.addressname {
}
