.App {
  height: 100vh;
  background: royalblue;
  display: flex;
  font-size: 0.9vw;
}

.left {
  height: 100%;
  width: 45%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  height: 100%;
  width: 55%;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: ; */
}

.image {
  height: 25%;
  width: 70%;
  padding-top: 2%;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.imgc {
  height: 100%;
  width: 100%;
  border-radius: 60%;
  
}

.lang,
.contact,
.education,
.skill {
  height: calc(75% / 4);
  width: 90%;
  background-color: rgb(173, 170, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinner,
.educationinner,
.skillinner,
.langinner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: black;
  color: white;
}

.underline {
  height: 1.4%;
  background-color: rgb(240, 217, 217);
  width: 80%;
  margin-top: -3%;
  margin-bottom: 5%;
}

/* ///////////////////////right/////////*/
.rightinner {
}

/* Small devices (phones, up to 480px) */
@media (max-width: 480px) {
  .App {
    font-size: 2.4vw;
    height: 100vh;
  }
  .left,
  .right {
    width: 100%;
  }

  /* .image, */
  .contact,
  .education,
  .skill,
  .lang {
    width: 90%;
    /* margin-left: 4vh; */
  }
  .image {
    height: 25%;
    width: 70%;
    /* padding-top: 2%; */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }
  .underline {
    height: 0.5vw;
    background-color: rgb(240, 217, 217);
    width: 80%;
    margin-top: -3%;
    margin-bottom: 5%;
  }
  .rightinner {
    height: 96%;
    width: 86%;
    /* background-color: white; */
    padding: 5%;
    border-radius: 1vh 2vh 3vh 4vh;
    margin-top: 4%;
  }
  .name {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: green; */
    font-size: 285%;
    /* margin-left: 20%; */
    /* margin-top: 10%; */
    margin-left: 7%;
  }
  .fname {
    font-weight: 500;
    font-stretch: expanded;
  }
  .lname {
    font-weight: 700;
    font-size: 120%;
  }
  /* .glink{
    font-weight: 500;
    font-size: 35%;
    margin-top: 15%;
  }
   */
  .galink {
    font-weight: 500;
    margin-bottom: 3vh;
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer;
  }
  .galink {
    font-weight: 500;
    font-size: 30%;
    margin-top: 5%;
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .galink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .galink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .galink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }

  .glink {
    font-weight: 500;
    font-size: 30%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }

  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }

  .profile {
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    /* margin-top: -13%; */
    font-weight: 500;
  }
  .runderline {
    height: 0.3vh;
    width: 100%;
    background-color: black;
    margin-top: -5%;
  }
  .graph {
    height: 100%;
    width: 100%;
  }

  .experience {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    /* margin-top: 23%; */
    font-weight: 500;
  }
  .edu {
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    /* margin-top: 23%; */
    font-weight: 500;
  }
  .emailc {
    line-height: 150%;
    height: 100%;
    width: 100%;
    margin-left: 5%;
  }
  .glink {
    font-weight: 500;
    font-size: 30%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }
  .imgc {
    height: 100%;
    width: 100%;
    border-radius: 60%;
    
  }
}

/* Medium devices (phones and small tablets, 481px to 768px) */

@media (min-width: 481px) and (max-width: 768px) {
  .App {
    font-size: 1.5vw; /* Adjust font size for medium devices */
  }

  .left,
  .right {
    width: 100%; /* Make both sections take full width */
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 80%; /* Adjust the width of sections */
    height: 25%;
  }

  .underline {
    height: 0.5vw; /* Adjust height for underline */
    background-color: rgb(240, 217, 217);
    width: 80%; /* Adjust width for underline */
    margin-top: -3%;
    margin-bottom: 5%;
  }

  .rightinner {
    height: 96%; /* Ensure the inner section fills its container */
    width: 86%; /* Adjust width for the inner section */
    padding: 5%;
    border-radius: 1vh 2vh 3vh 4vh; /* Rounded corners */
  }

  .name {
    height: calc(100% / 4); /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 220%; /* Adjust font size */
    /* margin-top: 10%; */
    margin-left: 7%;
  }

  .fname {
    font-weight: 500;
    font-stretch: expanded;
  }

  .lname {
    font-weight: 700;
    font-size: 120%;
  }

  .galink,
  .glink {
    font-weight: 500;
    font-size: 20%; /* Adjust font size for links */
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .galink:hover,
  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .galink:visited,
  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .galink:active,
  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }

  .profile {
    height: calc(75% / 5); /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    /* margin-top: -13%; */
    font-weight: 500;
  }

  .runderline {
    height: 0.3vh; /* Adjust height */
    width: 100%; /* Full width */
    background-color: black; /* Underline color */
    /* margin-top: -5%; */
  }

  .graph {
    height: 100%;
    width: 100%;
  }

  .experience,
  .edu {
    height: 30%; /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    margin-top: 12%;
    font-weight: 500;
  }

  .emailc {
    line-height: 150%;
    height: 100%;
    width: 100%;
    margin-left: 5%;
  }
  .glink {
    font-weight: 500;
    font-size: 50%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }
  .imgc {
    height: 100%;
    width: 70%;
    border-radius: 60%;
    
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .App {
    font-size: 1vw; /* Adjust font size for larger medium screens */
  }

  .left {
    width: 45%; /* Set width for the left section */
  }

  .right {
    width: 55%; /* Set width for the right section */
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 70%; /* Adjust width for these sections */
  }

  .underline {
    height: 0.4vw; /* Adjust height for underline */
    background-color: rgb(240, 217, 217);
    width: 80%; /* Adjust width for underline */
    /* margin-top: -3%; */
    /* margin-bottom: 5%; */
  }

  .rightinner {
    height: 96%; /* Ensure inner section fills container */
    width: 85%; /* Adjust width for inner section */
    padding: 5%;
    border-radius: 1vh 2vh 3vh 4vh; /* Rounded corners */
  }

  .name {
    height: 20%; /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 200%; /* Adjust font size for name */
    margin-top: 10%;
    margin-left: 7%;
  }

  .fname {
    font-weight: 500;
    font-stretch: expanded;
  }

  .lname {
    font-weight: 700;
    font-size: 120%;
  }

  .galink,
  .glink {
    font-weight: 500;
    font-size: 22%; /* Adjust font size for links */
    margin-top: 5%;
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .galink:hover,
  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .galink:visited,
  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .galink:active,
  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }

  .profile {
    height: calc(75% / 4); /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    /* margin-top: -13%; */
    font-weight: 500;
  }

  .runderline {
    height: 0.3vh; /* Adjust height */
    width: 100%; /* Full width */
    background-color: black; /* Underline color */
    /* margin-top: -5%; */
  }

  .graph {
    height: 100%;
    width: 100%;
  }

  .experience,
  .edu {
    height: 30%; /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    /* margin-top: 23%; */
    font-weight: 500;
  }

  .emailc {
    line-height: 150%;
    height: 100%;
    width: 100%;
    margin-left: 5%;
  }
  .glink {
    font-weight: 500;
    font-size: 50%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }

  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }
  .glink {
    font-weight: 500;
    font-size: 50%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }
  .imgc {
    height: 100%;
    width: 60%;
    border-radius: 60%;
    
  }
}

/* Extra large devices (desktops and larger, 1025px and up) */
@media (min-width: 1025px) {
  .App {
    font-size: 1vw; /* Adjust font size for larger screens */
  }

  .left {
    width: 45%; /* Set width for the left section */
    font-size: .75vw;
    padding-left: 3%;
  }

  .image {
    height: 25%;
    width: 70%;
    padding-top: 2%;
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }

  .imgc {
    height: 100%;
    width: 100%;
    border-radius: 60%;
  }

  .lang{
    height: 15%; /* Adjust height of each section */
    width: 90%;
    background-color: rgb(173, 170, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact{
    height: 20%; /* Adjust height of each section */
    width: 90%;
    background-color: rgb(173, 170, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .education{
    height: 25%; /* Adjust height of each section */
    width: 90%;
    background-color: rgb(173, 170, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: red; */
  }
  .skill {
    height: 20%; /* Adjust height of each section */
    width: 90%;
    background-color: rgb(173, 170, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contactinner,
  .educationinner,
  .skillinner,
  .langinner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: white;
  }

  .underline {
    height: 1.4%;
    background-color: rgb(240, 217, 217);
    width: 80%;
    /* margin-top: .5%; */
    /* margin-bottom: 5%; */
  }

  .right {
    width: 55%; /* Set width for the right section */
  }

  .rightinner {
    height: 96%; /* Ensure inner section fills container */
    width: 85%; /* Adjust width for inner section */
    padding: 5%;
    border-radius: 1vh 2vh 3vh 4vh; /* Rounded corners */
  }

  .name {
    height: 20%; /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 200%; /* Adjust font size for name */
    margin-top: 10%;
    margin-left: 7%;
  }

  .fname {
    font-weight: 500;
    font-stretch: expanded;
  }

  .lname {
    font-weight: 700;
    font-size: 120%;
  }

  .galink,
  .glink {
    font-weight: 500;
    font-size: 22%; /* Adjust font size for links */
    margin-top: 5%;
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .galink:hover,
  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .galink:visited,
  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .galink:active,
  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }

  .profile {
    height: calc(75% / 4); /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    /* margin-top: -13%; */
    font-weight: 500;
  }

  .runderline {
    height: 0.3vh; /* Adjust height */
    width: 100%; /* Full width */
    background-color: black; /* Underline color */
    /* margin-top: -5%; */
  }

  .graph {
    height: 100%;
    width: 100%;
  }

  .experience,
  .edu {
    height: 30%; /* Adjust height */
    width: 90%; /* Adjust width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7%;
    /* margin-top: 23%; */
    font-weight: 500;
  }

  .emailc {
    line-height: 150%;
    height: 100%;
    width: 100%;
    margin-left: 5%;
  }

  .glink {
    font-weight: 500;
    font-size: 50%;
    /* margin-top: 5%; */
    color: black; /* Set text color to black */
    text-decoration: underline; /* Add underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 8%;
  }

  .glink:hover {
    color: black; /* Ensure text color stays black on hover */
    text-decoration: underline; /* Ensure underline stays on hover */
  }

  .glink:visited {
    color: black; /* Ensure text color stays black after being visited */
  }

  .glink:active {
    color: black; /* Ensure text color stays black when the link is clicked */
    text-decoration: underline; /* Ensure underline stays when the link is clicked */
  }
  .imgc {
    height: 100%;
    width: 55%;
    border-radius: 60%;
    
  }
}

