.App {
  height: 100vh;
  background: royalblue;
  display: flex;
  font-size: 0.9vw;
}

.left {
  height: 100%;
  width: 45%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  height: 100%;
  width: 55%;
  background-color: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: ; */
}

.image {
  height: 25%;
  width: 70%;
  padding-top: 2%;
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.imgc {
  height: 100%;
  width: 100%;
  border-radius: 60%;
}

.lang,
.contact,
.education,
.skill {
  height: calc(75% / 4);
  width: 90%;
  background-color: rgb(173, 170, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactinner,
.educationinner,
.skillinner,
.langinner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: black;
  color: white;
}

.underline {
  height: 1.4%;
  background-color: rgb(240, 217, 217);
  width: 80%;
  margin-top: -3%;
  margin-bottom: 5%;
}

/* ///////////////////////right/////////*/
.rightinner{
 
}









/* Small devices (phones, up to 480px) */
@media (max-width: 480px) {
  .App {
    font-size: 2.5vw;
  }
  .left,
  .right {
    width: 100%;
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 90%;
    /* margin-left: 4vh; */
  }
  .underline {
    height: .5vw;
    background-color: rgb(240, 217, 217);
    width: 80%;
    margin-top: -3%;
    margin-bottom: 5%;
  }
  .rightinner{
    height: 96%;
  width: 86%;
  /* background-color: white; */
  padding: 5%;
  border-radius: 1vh 2vh 3vh 4vh;
  }
  .name{
    height: calc(100% / 4);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: green; */
    font-size: 285%;
    /* margin-left: 20%; */
    margin-top: 10%;
    margin-left: 7%;

  }
  .fname{
    font-weight: 500;
    font-stretch: expanded;
  }
  .lname{
    font-weight: 700;
    font-size: 120%;
  }
  .glink{
    font-weight: 500;
    font-size: 35%;
    margin-top: 15%;
  }
  .profile{
    height: calc(75% / 5);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    margin-top: -13%;
    font-weight: 500;
  }
  .runderline{
    height: .3vh;
    width: 100%;
    background-color: black;
    margin-top: -5%;
  }
  .graph{
    height: 100%;
    width: 100%;
  }
 
  .experience{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    margin-top: 23%;
    font-weight: 500;
  }
  .edu{
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* font-size: 255%; */
    margin-left: 7%;
    /* background-color: green; */
    margin-top: 23%;
    font-weight: 500;
  }
}

/* Medium devices (phones and small tablets, 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .App {
    font-size: 2.5vw;
  }
  .left,
  .right {
    width: 100%;
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 80%;
  }
}

/* Large devices (tablets and small desktops, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 70%;
  }
}

/* Extra large devices (desktops and larger, 1025px and up) */
@media (min-width: 1025px) {
  .left {
    width: 45%;
  }

  .right {
    width: 55%;
  }

  .image,
  .contact,
  .education,
  .skill,
  .lang {
    width: 70%;
  }
}
